.container {
    isolation: isolate;
}

.scroller {
    -ms-overflow-style: none;  /* IE and Edge */
    overflow: -moz-scrollbars-none; /* Firefox */
    isolation: isolate;
  
    &::-webkit-scrollbar {
        display: none;         /* Chrome, Safari and Opera */
        width: 0 !important;   /* Additional Safari support */
    }
}
  
.row {
    overflow-x: auto;
}
  
.column {
    overflow-y: auto;
}

.scrollButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.scrollButtonPrev {
    left: var(--static-space-4);
}

.scrollButtonNext {
    right: var(--static-space-4);
}